<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discover Designers</title>
    <link rel="stylesheet" href="static/css/index.css" />
  </head>
  <body>
    <div class="background"></div>
    <!-- Latar belakang -->
    <div class="hero-section">
      <div class="content">
        <h1>
          Selamat Datang
          <span class="highlight">Di Sistem Klasifikasi Sampah Cerdas!</span>
        </h1>
        <p>
          Bersama teknologi ini, kami membantu Anda memilah sampah dengan mudah.
          Jadikan dunia lebih bersih dengan memanfaatkan teknologi ini untuk
          klasifikasi sampah organik dan non-organik.
        </p>
        <a href="{{ url_for('predict_page') }}" class="btn">Start Predict</a>
      </div>
    </div>
    <!-- Tambahkan gambar di bawah hero section -->
    <div class="bottom-image">
      <img src="static/images/sampah3.jpg" alt="Ilustrasi Klasifikasi Sampah" />
      <img src="static/images/gambar2.jpg" alt="Ilustrasi Klasifikasi Sampah" />
      <img src="static/images/gambar5.jpg" alt="Ilustrasi Klasifikasi Sampah" />
      <img src="static/images/gambar6.jpg" alt="Ilustrasi Klasifikasi Sampah" />
      <img src="static/images/sampah8.jpg" alt="Ilustrasi Klasifikasi Sampah" />
      <img src="static/images/gambar9.jpg" alt="Ilustrasi Klasifikasi Sampah" />
    </div>
  </body>
</html>
